.post {

  &__header {
    margin-bottom: 2.5em;
    margin-top: 0;
  }

  &__heading {
    font-size: 1.8rem;
    margin: 0 0 .2rem 0;
    text-align: center;

    a:link,
    a:visited {
      text-decoration: none;
    }
  }

  &__subtitle {
    color: color(grey);
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0 0 .5rem 0;
    text-align: center;
  }

  &__date {
    display: block;
    margin: 0 auto;
    text-align: center;

    a:link,
    a:visited {
      color: color(grey);
      font-size: .7rem;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &__attributes {
    @include clearfix;
    margin: 0 auto 2.5rem;
  }

  &__avatar {
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    display: block;
    float: left;
    height: 3.5rem;
    margin: 0 1rem 0 0;
    width: 3.5rem;
  }

  &__author-box {
    float: left;
    padding-top: .1975rem;
  }

  &__author-name {
    font-weight: bold;
    margin: 0;

    a:link,
    a:visited {
      color: color(dark-grey);
      text-decoration: none;
    }

  }

  &__author-twitter {
    @include monospace;
    color: color(highlight);
    margin: 0;

    a:link,
    a:visited {
      text-decoration: none;
    }
  }

  &__body {
    margin-bottom: 3rem;
  }

  &__body,
  &__footer {
    @include content;
  }

  &__body-footer {
    margin-top: 2rem;
  }

  &__footer {
    margin-bottom: 4rem;
    text-align: center;
  }

  &__attribution {
    font-size: .8rem;
  }

  &__footer-nav {
    color: color(grey);
    margin-bottom: 1rem;
    text-align: center;

    a:link,
    a:visited {
      text-decoration: none;
    }

    a:hover,
    a:active,
    a:focus {
      @include fancy-underlines(color(highlight-active), color(background), color(text-selection));
    }
  }

  &__footer-nav-time {
    font-size: .6rem;
    text-transform: uppercase;
  }

  .twitter__button {
    margin: 0 auto;
  }
}
