{% macro render_header(page, background_url, height=250, index=true) %}
    <header class="header" style="background-image: url('{{ background_url|url }}'); height: {{ height }}px;">
      <div class="container container--xs leader">
        <div class="leader__title">
          <a href="/">
          {% if index %}
            <h1>Darian Moody.</h1>
            <h2>Elixir & Python Developer, London</h2>
          {% else %}
            <h4>Darian Moody.</h4>
            <h5>Elixir & Python Developer, London</h5>
          {% endif %}
          </a>
        </div>
        <nav class="navigation">
          <ul>
            <li{% if page._path == '/' %} class="active"{% endif %}><a href="/">About</a></li>
            <li{% if 'posts' in page._path %} class="active"{% endif %}><a href="{{ '/posts/'|url }}">Writing</a></li>
          </ul>
        </nav>
      </div>
    </header>
{% endmacro %}
