{% extends "layout.html" %}

{% from "macros/header.html" import render_header %}
{% from "macros/post.html" import render_post %}

{% block title %}{{ this.heading }}{% endblock title %}

{% block body_class %}body__post{% endblock %}

{% block extra_head %}
  {% set share_image = this.attachments.images.get('share-image.png') %}
  <meta name="twitter:card" content="{% if share_image %}summary_large_image{% else %}summary{% endif %}">
  <meta name="twitter:site" content="@djm_">
  <meta name="twitter:creator" content="@djm_">
  <meta name="twitter:title" content="{{ this.heading }}">
  <meta name="twitter:description" content="{{ this.summary }}">
  {% if share_image %}
    <meta name="twitter:image" content="{{ share_image|url }}">
  {% endif %}
{% endblock %}

{% block header %}
  {% if this.header_image %}
    {{ render_header(this, background_url=this.header_image, height=250, index=false) }}
  {% endif %}
{% endblock %}

{% block body %}
  {{ render_post(this) }}
{% endblock body %}
